:root {
    --primary-color: #01005B;
    --secondary-color: #F9F0E5;
    --tertiary-color: white;
    --quantary-color: #676869;
    --grey: #F0EEEF;
    --10px: 0.625rem;
    --11px:0.688rem;
    --12px: 0.75rem;
    --13px: 0.813rem;
    --14px: 0.875rem;
    --18px: 1.125rem;
    --20px: 1.25rem;
    --25px: 1.563rem;
    --28px: 1.75rem;
    --30px: 1.875rem;
    --34px: 2.125rem;

    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Inter", sans-serif;
}
  
html{
    display: flex;
    box-sizing: border-box;
    overflow-x: hidden ;

}
  body {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    width: 100%;
}

p {
    color: var(--quantary-color);
    line-height: var(--30px);
    font-family: var(--secondary-font-family);
    letter-spacing: .5px;
}

h1,h2,h3,h4 {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-weight: 400;
}

h1 {
    font-size: var(--34px);
    font-weight: 400;
    letter-spacing: 2px; 
    line-height: 48px;
}
 
h2 {
    font-size: var(--34px);
}

  /* Delivery Info */
#delivery {
    display: flex;
    width: 100%;
    background-color: var(--secondary-color);
    font-size: var(--10px);
    font-family: var(--primary-font-family);
    justify-content: center;
  }

.delivery_text{
    display: flex;
    letter-spacing: .8px;
    padding: 4px;
}

/* Hero section container */
.hero {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden ;

}
  
/* Left side content */
#hero_left {
    display: flex;
    flex-direction: column;
    width: 45%;  
    padding: 20px 20px 0 100px;  
    box-sizing: border-box;
    font-size: var(--14px);
}

.hero_logo_container {
    display: flex;
    width: 100%;
    margin: 10px 0 54px 0;
}

.hero_quote_container{
    display: flex;
    width: 100%;
    margin-bottom: 26px;

}

#hero-quote {
    display: flex;
    line-height: 44px;
}



/* List */
.hero_list_container{
    display: flex;
    width: 100%;

}

.hero_list, .benefits_container {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    list-style: none;  
    width: 95%;
}

.hero_list_item, .benefits_item {
    display: flex;
    width: 100%;
    margin-bottom: 20px  ;  
}

.hero_list_item_icon_container, .icon_container {
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;               
    justify-content: center;     
    align-items: center;        
    width: 20px;                
    height: 20px;               
}
.hero_list_item_icon_container{
    padding: 5px 6px;
}

.icon_container{
    padding: 10px;
}

.hero_list_text, .text_container {
    margin-left:16px;
    width: 100%;
    letter-spacing: .6px;
    line-height: 1.7;
}

.notscquare {
    padding: 0 3px;
}

/* Button */
.button_styles {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 8px 0;
    font-size: 1.25vw;
    font-family: var(--secondary-font-family);
    border-radius: 7px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 67%;

}

.hero_button_container{
    margin-bottom: 9%;    

}

.hero_button_container,
.about_button_container,
.product_button_container,
.cta_button_container,
.review_button_container{
    display: flex;
    width: 100%;
}
.product_button_container{
    justify-content: center;

}

.review_button_container{
    justify-content: center;
    width: 50%;
}
#hero_button{
    width: 67%;
    justify-content: center;         
}
#about_button{
    width: 49%;
    margin: 32px 16px;
    justify-content: center;
}

#product_button{
 width: 25%;
 justify-content: center;
 margin-top: 50px;
}
#cta_button{
justify-content: center;
width: 25%;
}

.cta_button_container{
    justify-content: center;
    margin-top: 2.5vw;
}
#review_button{
    width: 50%;
    justify-content: center;
    
}






.button_arrow_logo{
     padding-left: 10px;
}

/* Single hero_review*/
.hero_review_container{
    display: flex;
    width: 100%;
}

.hero_review{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    width: 71%;
    font-size: var(--12px);
    font-family: var(--secondary-font-family);
    padding: 14px 18px;
    align-content: center;

}

.review-content{
    display: flex;
    width: 100%;
}

 /* 5 stars */
.star-rating {
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: row;
    align-items: center;
    list-style: none; 
    padding: 0; 
    width: 100%;
    height: 100%;
}

.star-rating li img, 
.user img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#line-container{
    justify-content: space-between;
}

.user {
    width: 10%;
    
   }
     
#userName {
    width: 15%;
    font-size: 1vw;

}
#eleven{
    font-size: .7vw;
    line-height: 1.4vw;
}


.star-rating ul{
    width: 15%;
}

.star-rating p {
    width: 50%;
}

.review_text_container{
    display: flex;
    margin-top: 5%;

}

.review-text{
    line-height: 2;
    letter-spacing: .5px;
    font-size: var(--11px);
}

/* Right side content */
#rightside{
    display: flex;
   width: 50%;
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
}

.hero_image_group,
#cta-img-container{
    display: flex;
    width: 73%;
    align-items: center;
    justify-content: center;
    margin: auto;
 }

.hero_img_gradient {
    width: 234px;
    background: linear-gradient(var(--tertiary-color) 10%, var(--secondary-color));
    height: 189px;
    display: flex;
    flex: 1; 
    justify-content: center;
    align-items: center;
    z-index: -10;
}

#left-gradient,
#hero_img_gradient_left_mob,
#cta-left-gradient{
    transform: translate(90%, 0);   
}

#hero_img_gradient_right,
#hero_img_gradient_right_mob,
#cta-right-gradient{
    transform: translate(-90%, 0);  
}

#hero_img_center,
#hero_img_center_mob,
#center-image-hero-container {
    
    width: 48%;
    z-index: 2;
    border: 5px solid var(--tertiary-color);
}

.hero_img_side {
    width: 40%;
    z-index: -1;
}

#hero_img_side_right,
#hero_img_side_right_mob,
#cta-rightside-image-hero {
    transform: translate(-25%, 0);  
}

#hero_img_side_left,
#hero_img_side_left_mob,
#cta-leftside-image-hero{
     transform: translate(25%, 0);    
}

  /* Bottom content that spans the full width */
#screenwide {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--20px);
    font-family: var(--primary-font-family);
    align-content: center;
    background: linear-gradient(var(--secondary-color) 10%, var(--tertiary-color));
    margin-top: -5%;
    z-index: -10;
}

#screenwide-text {
    display: flex;
    width: 100%;
    margin: 4% 0 .25%;
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
    font-size: 1.063rem;
}

.logos-container {
    display: flex;
    flex-wrap: wrap;
     width: 100%;
     margin: 0 5%;
     object-fit: contain;
     margin-bottom: 200px;
     justify-content: space-around;
     align-items: center;
     opacity: 60%;
}

.logo1{
    width: 13%;
}

.logo2 {
    width: 9%;
}
.logo3 {
    width: 20%;
}

.logo4 {
    width: 15%;

 }

.logo5{
    width: 14%;

  }

  /* Benefits section */
#benefits {
    display: flex;
    flex-wrap: wrap;
   width: 100%; 
    box-sizing: border-box;
    flex-direction: row; 
    margin-top: -96px;
    justify-content: space-around;  
}
  
#left_container,
#left_container_mob{
    
    display: flex;
    flex-wrap: wrap;
    width: 40%;

}

#left_container,
#left_container_mob{
   margin-left: 82px;
   align-items: flex-start;
}

#left-container-bio{
    width: 100%;  
    box-sizing: border-box;
    font-weight: 400;
    font-size: var(--28px);
    letter-spacing: 1px;
    padding-left: 5px;
}

.benefits_container {
    margin-top: 36px;
    line-height: 1;
}

.text_container {
    margin-left: 40px;
}
 
.text_container h3{
    font-weight: 400;
}

.text_container p{
    font-weight: 400;
    font-family: var(--primary-font-family);
    font-size: var(--13px);
    line-height: 1.9;
}

/* Right side of benefit section */
 #right_container{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    box-sizing: border-box;
    overflow: hidden;
}

.slider-container {
    display: flex;
    margin: 0 auto;
    position: relative;
}
  
.main-slider {
    width: 70%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
}

.main-slider img {
    display: flex;
    box-sizing: border-box;
    width: 400px;
    margin-left: -20px;
}
  
.main-slider, .slick_slider_pic, .pic-container{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.slick_slider_pic {
     width: 50%;
}

.custom-navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
  
.thumbnail-slider {
    flex-grow: 1;
    margin-top: -10%; 
    display: flex;
    box-sizing: border-box;
    justify-content: center; 
}

.slick-track {
    box-sizing: border-box;
display: flex;
justify-content: center
}
  
.thumbnail-slider .slick-slide {
    display: flex;
    transition: opacity 0.3s ease;
}
  
.slick-current {
    border: 2px solid white;
}
  
.thumbnail-slider img {
    width: 100%;
   display: flex;
}

.space{
    margin: 3px;    
    display: flex;
    justify-content: center;
    width: 60%;
}
  
  .slider-description {
    display: flex;
    font-size: var(--13px);
    color: var(--quantary-color);
    font-family: var(--secondary-font-family);
    justify-content: center;
    width: 100%;
    margin-top: 34px;
}

  .prev-arrow, .next-arrow {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.next-arrow {
    margin-left: -6%;
}

/* About section */
#about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--grey);
    margin-top: 60px;
    box-sizing: border-box;
    padding-bottom: 36px;
}
  
#left-container-about,
#right-container-about {
    display: flex;
    min-width: 300px;  
    box-sizing: border-box;
}
  
#left-container-about {
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
  
.main-image-about,
.leftside-image-about,
.rightside-image-about,
.main-image-faq,
.left-image-faq,
.right-image-faq
 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    object-fit: contain; 
    height: fit-content;
}

.about-image{
     display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    object-fit: contain; 
    height: fit-content;
}
   
.main-image-about {
    width: 53%;
    margin-top: 6vw;
    
}
  
.leftside-image-about {
    width: 23%;
    transform: translate(55%, 20%);   
    border: 5px solid var(--grey);
}
  
.rightside-image-about {
    width: 18%;
  border: 5px solid var(--grey);
    transform: translate(-50%, 320%);  
}


#right-container-about {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 7.5%;
    font-size: var(--14px);
}

#right-container-h2 {
    font-size: var(--28px);
}

.about-text{
    margin-top: 8px;
    margin-left: 5px;
}

.about-text p{
    padding-top: 18px;
    line-height: 1.8;
    padding-right: 15%;
}




/* Projuct description sector */
#product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
  
.product-header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: var(--34px);
    margin-top: 76px;  
    display: flex;
    justify-content: center;
}
  
.product-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 78%;
    list-style-type: none;
    height: 100%
}
  
.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31%;
    height: 100%;
    padding: 6.5% 2%;
    box-sizing: border-box;
    border-radius: 3%; 
}
  
.item-container .item {
    width: 100%;
    text-align: center;
}

#item1{
    margin-bottom: 28px;
    margin-top: 5px; 
}

#item2{
    margin-bottom: 20px; 
    margin-top: 5px; 
}

#item3{
    margin-bottom: 14px; 
}

.item{
    margin-bottom: 14px;
    line-height: 24px;
} 

p.item {
    font-size: var(--14px);
}

.item-container img.item {
    width: auto;
    height: 35%;
    object-fit: contain;
}

.grey-item {
    background-color: var(--grey);
    margin: 0 1%;

}
.brown-item {
    background-color: var(--secondary-color);
} 
  


#product-stars, #user-product-stars {
justify-content: flex-end;
display: flex;
align-content: center;
width: 20%;
height: fit-content;
margin-right: 16px;

}
.button-icon, .user-button-icon{
    display: flex;
justify-content: center;
align-items: center;
}

#seventeen, #user-seventeen{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: fit-content;
    width: 30%;
    font-size: var(--11px);
}
#product-icon, #user-product-icon{
    padding: 0;
    width: 20px;
}

#product-review, #user-product-review{
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Main container */
#user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 96px;

  }
  
.content-header,
.content-text {
    width: 100%;
    display: flex;
  }
  
.content-header {
    justify-content: center;
    font-size: var(--28px);
    letter-spacing: 2px; 
    margin-bottom: 20px;
}

.content-text {
    width: 38%;
    font-size: var(--13px);
    text-align: center;
    line-height: 2;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
  
.picture-container {
    width: calc(100% / 11.5); 
    box-sizing: border-box;
}
  
.picture-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.reviews-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 64px 0;
    padding: 0 32px;  
}

.review-container {
    width: 23%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
}
  
.review-logo {
    width: 14%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin-right: 10px;
   height: fit-content;
}
  
.review-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    justify-content: center;
}

.review-user-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.review-user {
    display: flex;
    justify-content: flex-start;
    font-family: var(--primary-font-family);
    font-size: var(--12px);
}

.user-rating{
    width: 30%;
    justify-content: flex-start;
}

.review-stars,
.review-user {
    width: 100%;
}
.review-texts{
   font-family: var(--secondary-font-family);
   font-size: var(--12px);
   color: var(--quantary-color);
   line-height: 24px;
   margin-top: 16px;
}
  
.review-texts, .top-part {
 
    display: flex;
    flex-direction: row;
     justify-content: flex-start;
     align-content: center;
     height: fit-content;
} 

#nomargin {
    margin: 0;
}


  
/* FAQ section */

#faq {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.faq-left {
width: 41%;
margin-left: 14.7vw;
}

.faq-left h2 {
    display: flex;
    width: 100%;
    margin-bottom: 48px;

}

.faq_left_header{
    display: flex;
    justify-content: center;
    
}

.accordion {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.accordion-header {
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-color);
    cursor: pointer;
    width: 100%;
    height: fit-content;
    padding: 18px 0 ;
    border: none;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    outline: none;
    font-size: var(--18px);
    line-height: 1.3vw;;
    transition: 0.4s;
    background-color: var(--tertiary-color);
    letter-spacing: 1px;
    border-top: .5px solid #EAEAEA; 
    border-bottom: .5px solid #EAEAEA; 
    font-family: var(--primary-font-family);

}
  
.accordion-header:after {
    content: '\002B';
    float: right;
    font-family: var(--primary-font-family);
    font-weight: 300;
    color: var(--primary-color);
    font-size: 2.188rem;
    line-height: 35px;
    font-weight: 200;
}
.accordion-header.active {
    border-bottom: none; 
}


  .active:after {
    content: "\2212";
   
}
  
  .accordion-content {
    max-height: 0;
    margin-top: -24px;
    margin-bottom: 16px;
    font-size: var(--14px);
    font-family: var(--primary-font-family);
    
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

  .accordion-content p {
    line-height: 24px;
    padding-right: 36px;
}


.img_trampa{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -25vw;
    margin-left: 40vw;
}


  .image-group-faq {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

.main-image-faq{
    /* width: 38%; */
    width: 15.764vw;
    height: 24.653vw;
    z-index: 2;
    /* transform: translate(10%, 38%); */
}
.left-image-faq {
    /* width: 39%; */
    /* transform: translate(-5%, 45%); */
    width: 15vw;
    height: 11.042vw;
    z-index: -1;  
    transform: translate(60%, 190%);

}
.right-image-faq{
    /* transform: translate(-30%, 5%); */
    /* width: 27%; */
    width: 11.597vw;
    height: 17.569vw;
    transform: translate(-53%, -50%);

}
  

.gradient-faq{
    background: linear-gradient(var(--tertiary-color) 10%, var(--secondary-color));
    /* width: 9vw;
    height: 12vw; */
    width: 10.347vw;
    height: 12.986vw;
    z-index: -10;
}

.topleft-gradient-faq{
    /* transform: translate(90%, 50%); */
    transform: translate(210%, -30%);

}

.bottomright-gradient-faq{
    /* transform: translate(10%, 0%); */
    transform: translate(130%, -75%);

}

/* Info banner */

#info-banner {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--grey);
    padding: 42px;
    margin-bottom: 82px;
}

#info-banner h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: var(--primary-font-family);
    font-size: 1.375rem;
    letter-spacing: 1px;
}

.info-points-container{
    display: flex;
    width: 100%;
    margin-top: 24px;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
}

.point-container{
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.point-img-container{
    background-color: #E4E4E4;
    border-radius: 50%;
    width: auto;
    margin-bottom: 8px;
}

.point-container img {
    display: flex;
    object-fit: cover;
    align-items: center;
}

.point-container h4{
    font-weight: bold;
    font-size: 1.35vw;
    font-family: var(--primary-font-family);
}

.point-container p{
    font-size: .85vw;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    letter-spacing: .65px;
    line-height: 14px;
}

.point1 {
    padding: 12px 9px;
}

.point2 {
    padding: 7px 13px;
}

.point3 {
    padding: 8px 15px;
}

/*  Final CTA section */

#cta {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden
}

.cta_p_container, .cta_p span{
    display: flex;
    justify-content: center;
    width: 100%;
}

#cta h2, .cta_p{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
    text-align: center;

}

#cta h2 {
    font-size: 2vw;
}

.cta_p{
    font-size: var(--13px);
    margin: 0 30% 36px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 26px;
}
.cta-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
#cta-img-container {
    display: flex;
    justify-content: center;
    width: 36%;
    justify-content: center;
    padding: 0;
}

.info-points-container {
    display: flex;
    width: 100%;
}

#cta-left-gradient{
    transform: translate(53%, 0);   
}

#cta-right-gradient{
    transform: translate(-53%, 0);   
}

#cta-leftside-image-hero {
    transform: translate(-1%, 0);  
}

#cta-rightside-image-hero{
    transform: translate(-8%, 0);  
}

.cta_btn_bio{
    display: flex; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: .5vw;
}

.time_icon{
    display: flex;
    object-fit: cover;
    padding-left:8px;
}

#bio-txt {
    display: flex;
width: auto;
margin: 5px;
font-size: var(--10px);
font-family: var(--primary-font-family);
color: #1FAD40;
line-height: 18px;
border-right: 1px solid #C4C4C4;
padding-right: 8px;

}

.payment_icons {
    display: flex;
    width: 15%;
    object-fit: cover;
}
 
.overview {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 16px 0 96px;

}

.overview div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 12%;
    margin: 0 12px;
    align-items: center;
}

.ft-icn-container {
    padding: 0;
}

.footer_icon {
    border-radius: 50%;
    padding-right:  12px;
    background-color: var(--grey);
}

.footer_line {
    border-right: .5px solid #C4C4C4;
}

.bg_gradient {
    display: flex;
    width: 100%;
    background: linear-gradient(var(--tertiary-color), var(--secondary-color)80%);
    height: 350px;
    margin-top: -350px;
    z-index: -12;
}

.fourteen {
    font-size: var(--12px);
    line-height: 24px;
}


/* Responsive design */

/* Large screen */
@media only screen and (min-width: 801px) {
    #left_container_mob, 
    div#unhide_when_mob{
        display: none;
    }

    #unhide_when_mob,
    #unhide_when_mob2 {
        display: contents;
        overflow-x: hidden ;
        position: absolute;
        max-width: 100%;
        justify-content: flex-end;
        flex-direction: column;
    }
    #left_container_mob, 
    #hide_when_pc2,#hide_when_pc3,
    #hide_when_mob3, 
    #hide_when_pc4, 
    #user-product-review2, 
    #user-product-review3{
        display: none;
    }
}

/* Small screen */

@media only screen and (max-width: 800px) {
    html{
      overflow-x: hidden;
    }

    #hide_when_pc2,
    #hide_when_pc3,
    div#unhide_when_mob{
        display: contents;
        
    }

    #left_container_mob{
        display: contents;
    }

    .delivery_text{
        font-size: 2.75vw;
    }
   
    .hide_when_mob,
    #hide_when_mob2,
    #right-container-h2, #hide_when_mob3{
        display: none;
    }

    #hero_left,
    .hero_logo_container,
    #hero_button,
    #left_container ,
    #right_container ,
    #left-container-about,
    #right-container-about {
        width: 100%;
    }

    #hero_left{
        
        padding: 1.5vw 6vw;
    }

    #unhide_when_mob, 
    #unhide_when_mob2 {
        display: contents;
    }

    .hero_logo_container{
        display: flex;
        justify-content: center;
        margin: 1.5vw 0 3.5vw 0;
    }

    .hero_logo{
        width: 50%;
    }

    .hero_list_container{
        padding: 9.5vw 0 2vw 6vw;
        box-sizing: border-box;
    }

    .hero_list_item_icon_container{
        width: 6vw;
        height: 5vw;
    }

    .hero_list_text{
        font-size: 2.55vw;
        font-family: var(--primary-font-family);
        letter-spacing: 1px;
    }

    .hero_list_item{
        margin-bottom: 5vw;
    }

    .hero_button_container{
        width: 98%;
    }

    .button_styles{
        height: 13vw;
        font-size: 4.5vw;
        font-family: var(--secondary-font-family);
    }

    .hero_review{
        width: 100%;
        
    }

    .review-text{
        font-size: 2.7vw;
    }

    .review-text span{
        display: none;
    }

    .review-text::after{
        content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor, non sodales justo.';
        font-family: var(--primary-font-family);
    }

    #eleven{
        font-size: 2.3vw;
    }

    #userName{
        font-size: 3vw;

    }

   .stars-rating li img {
    height: 2.5vw;
    width: auto;
    }

   .star-rating {
        justify-content: space-between;
   }

    #seventeen, #seventeen2, #user-seventeen{
        font-size: 2.75vw;
        width: 50%;
        margin-top: 2vw;
    }
   .star-rating ul{
        width: 17%;
   }

    .review-content{
        flex-direction: column;
    }

    #screenwide-text{
        margin: 9vw 0 .25%;
        font-size: 3.5vw;
    }

    .screenwide-texts{
        font-size: 4vw;

    }

    .logo1 {
        width: 33%;
        margin-right: 4vw;
    }

    .logo2{
        width: 20%;
    }

    .logo3 {
        width: 39%;
    }

    .logos-container{
        justify-content: space-between;
        margin-bottom: 29vw;
    }

    .slick-next:before{
        color: var(--grey);
    }
    
    
    .delivery_text {
        margin: 8px;

    }

    .delivery_text_mob,
    #rightside{
        display: none;
    }

    #hero_quote{
        text-align: center;
    }

    #about_button {
        width: 86%;
    }

    .about_button_container {
        justify-content: center;

    }
    #left-container-bio{
        font-size: 5.5vw;
        text-align: center;
    }

    #left_container{
        margin: 0 82px;
    }


    #left-container-about,
    #right-container-about {
      display: flex;
      width: 100%;
    }

    .custom-navigation{
    justify-content: unset;
    padding-left: 20%;
    margin-top: 5vw;
   

    }

    .thumbnail-slider{
        margin-top: 2vw;
    }
    
    .slider-description{
        font-size: 3vw;
        margin-top: 4vw;
    }

    .benefits_container{
        width: 50%;
        margin-top: 8vw;
    }

    .benefits_item{
        flex-direction: column;
        border-bottom: .5px solid #C4C4C480;
        margin: 4vw 0;
    }

    .icon_container{
        margin: 0 auto;
        width: 7vw;
        height: 7vw;
    }

    .text_container{
        justify-content: center;
        font-size: 3.5vw;
        margin: 0;
    }

    .text_container h3,
    .text_container p {
        text-align: center;

    }

    .text_container p {
        font-size: 2.75vw;
        line-height: 4.4vw;
        margin-bottom: 11vw;
        
    }

    .text_container h3{
        margin: 4vw 0 2vw 0;

    }

    #hero_button_mob{
        width: 85%;
        margin-top: -6vw ;
    }

    img.button-icon, .user-button-icon{
        width: 4vw;
    }

    #hide_when_pc3 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 10vw 0 2vw 0;
    }

    #hide_when_pc3 h2 {
        width: fit-content;
    }

    .about-text {
        padding: 7vw 10vw;
         
    }

    .about-text p{
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 3vw;
        font-size: 3.3vw;
        letter-spacing: 1px;   
    }

    .product-header{
        margin-top: 8vw;
    }

    button.slick-next:before,
    button.slick-prev:before{
        color: var(--grey);
        background-color: #ffffff;
        border-radius: 100%;
        width: 10vw;
        height: 25px;
    }

    .brown-item, .grey-item{
        background-color: var(--grey);
        margin-right: 9vw;
    }
    
    .item-container{
        padding: 11vw;
   
        justify-content: center;

    }

    .item-container p {
        font-size: 2.75vw;
        font-family: var(--primary-font-family);
        line-height: 5.25vw;
        margin: 0;
        padding: 0;
    }

    .item {
        font-size: 5vw;
        font-family: var(--primary-font-family);
        line-height: 5.25vw;
        padding-bottom: 2vw;

    }
    .item-container img.item {
        margin: auto;
        width: 12vw;
        padding: 0;
    }
    #item1{
        margin-left: auto;
        margin-bottom: 5vw; 

    }
    #item2 {
        margin-bottom: 5.6vw;
    }
    #item3{
        margin-bottom: 2.5vw;

    }
    #itemn {
        line-height: 5vw;
        font-size: 2.5vw;
    }

    #product_button, #product_button2{
        width: 85%;
    }

    #product{
        height: 120vw;
    }

    #user-content{
        margin-top: 13vw;
    }

    .content-header{
        font-size: 5vw;
        text-align: center; 
    }

    .content-text{
        font-size: 3.2vw;
        width: 85%;
        line-height: 6vw;
    }

    .content-container{
        margin-top: 10vw;
    }

    .picture-container {
        width: calc(100% / 4.1); 
    }
    .review-container{
        width: 75%;
        padding: 7vw;
    }

    .review_button_container {
        width: 100%;
    }

    #review_button{
        width: 85%;
        margin-top: 3vw;
    }
    .review-texts{
        font-size: 2.75vw;
        line-height: 5vw;
    }
    .review-logo{
        width: 11vw;
    }

    .faq-left{
        width: 100%;
        margin: 0 10vw;
        justify-content: center;

    }

    .faq-left h2{
        padding: 0 1vw 6vw;
        display: flex;
        width: 70%;
        margin: 0;
        text-align: center;
    }

    .img_trampa{
        display: none;
    }

    .accordion-header{
        font-size: 3.6vw;
        letter-spacing: .25vw;
        padding: 7vw 0;
    }

    .accordion-content {
        margin-top: -3vw;
    }

    .accordion-content p{
        font-size: 2.75vw;
        line-height: 5.25vw;
    }

    #user-product-review2, 
    #hide_when_pc4, 
    #user-product-review3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    #user-seventeens{
        font-size: 2.75vw;
    }

    #user-product-stars {
    width: 17%;
    }

    .star-rating li img{
        width: auto;
    }

    #hide_when_pc4{
        margin-top: 2vw;
    }

    #user-product-review2{
    margin: 2vw;
    }

    #info-banner{
        padding: 14vw 10vw;

    }

    #info-banner h3 {
        font-size: 5vw;
        text-transform: capitalize;
    }

    .info-points-container{
        flex-direction: column;
    }

    .point-container h4 {
        font-size: 5vw;
        margin-top: 3vw;
        margin-bottom: 1vw;
    }

    .point-container p {
        font-size: 2.75vw;
    }

    .point-container{
        width: 50%;
        margin-top: 7vw;
        margin-bottom: 4vw;
    }

    #cta h2 {
        font-size: 5.5vw;
        margin-bottom: 4vw;
    }

    #cta_button{
        width: 85%;
    }

    .cta_p{
        width: 100%;
    }

    .cta_p span{
        display: none;
    }

    .cta_p::after{
        content: 'Click below to browse our collection!';
        font-family: var(--primary-font-family);
        font-size: 3vw;
    }

    #faq {
        margin-bottom: 9vw;
    }

    #cta-img-container{
        padding: 0;
        margin: 1vw;
        width: 70%;
    }
    .cta_button_container {
        margin-top: 10vw;
    }

    #user-product-review3{
        margin-top: 2vw;
    }


}
