:root {
    --primary-color: #01005B;
    --secondary-color: #F9F0E5;
    --tertiary-color: white;
    --quantary-color: #676869;
    --grey: #F0EEEF;
    --font-size: 9px;
    --h1-font-size: 34px;
    --h2-font-size: 30px;
    --h3-font-size: 25px;
    --h4-font-size: 14px;
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Inter", sans-serif;
}
  
  body {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    overflow-x: hidden ;
}

p {
    color: var(--quantary-color);
    line-height: var(--h2-font-size);
    font-family: var(--secondary-font-family);
    letter-spacing: .5px;
}

h1,h2,h3,h4 {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-weight: 400;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 400;
    letter-spacing: 2px; 
    line-height: 48px;
}
 
h2 {
    font-size: var(--h2-font-size);
}

  /* Delivery Info */
.delivery {
    display: flex;
    min-width: 100%;
    background-color: var(--secondary-color);
    font-size: 11px;
    justify-content: center;
  }

.delivery-txt{
    line-height: 36px;
    letter-spacing: .8px;
}

/* Hero section container */
.hero {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden ;
}
  
/* Left side content */
#leftside {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;  
    padding: 20px 20px 0 100px;  
    box-sizing: border-box;
    font-size: var(--h4-font-size);
}

.byteex-container {
    width: 100%;
}

.byteex-logo{
    padding: 10px 0 32px 0; ;
}

  #hero-quote {
    padding: 22px 0;
    line-height: 44px;
    display: flex;
}

/* List */
.hero-list-container, .benefits_container {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    list-style: none;  
    padding-top: 4px;
    width: 95%;
}

.hero-list-item, .benefits_item {
    display: flex;
    width: 100%;
    margin-bottom: 20px  ;  
}

.small-icon-container, .icon_container {
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;               
    justify-content: center;     
    align-items: center;        
    width: 20px;                
    height: 20px;               
}
.small-icon-container{
    padding: 6px;
}

.icon_container{
    padding: 10px;
}

.hero-list-text, .text_container {
    margin-left:16px;
    width: 100%;
    letter-spacing: .6px;
    line-height: 1.7;
}

.notscquare {
    padding: 0 3px;
}

/* Button */
.blue_button {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 17px 56px;
    font-size: 18px;
    font-family: var(--secondary-font-family);
    border-radius: 7px;
    letter-spacing: 1px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
#first-button{
    margin: 8px 0 8% 0;    
    width: 65%;         
}

.button-arrow{
     padding-left: 10px;
}

/* Single Review */
.review {
    background-color: var(--tertiary-color);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    width: 71%;
    font-size: 12px;
    font-family: var(--secondary-font-family);
    padding: 14px 18px;
}

.review blockquote {
    display: flex;
}

 /* 5 stars */
.star-rating {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center;
    list-style: none; 
    padding: 0; 
    width: 100%;
    height: 100%;
}

#line-container{
    justify-content: space-between;
}

.user {
    width: 10%;
   }
     
#userName {
    width: 15%;
    font-size: 13px;
}

.star-rating ul{
    width: 15%;
}

.star-rating p {
    width: 50%;
    font-size: 10px;
}

.review-text{
    line-height: 2;
    letter-spacing: .5px;
    font-size: 11px;
    padding: 5px;
    margin-top: 10px;
}

/* Right side content */
#rightside{
    flex: 0 0 50%; 
    box-sizing: border-box;
    align-content: center;
    display: flex;

}

.image-group-hero{
    display: flex;
    width: 73%;
    align-items: center;
    justify-content: center;
    padding-left: 94px;

 }

  .gradient-hero {
    width: 234px;
    background: linear-gradient(var(--tertiary-color) 10%, var(--secondary-color));
    height: 189px;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

#left-gradient{
    transform: translate(90%, 0);   
}

#right-gradient{
    transform: translate(-90%, 0);  
}

#center-image-hero-container{
    width: 48%;
    z-index: 2;
    border: 2px solid var(--tertiary-color);
}

.side-image-hero-container {
    width: 40%;
    z-index: -1;
}

#rightside-image-hero{
    transform: translate(-25%, 0);  
}

#leftside-image-hero{
     transform: translate(25%, 0);    
}

  /* Bottom content that spans the full width */
#screenwide {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;  
    box-sizing: border-box;
    font-size: 20px;
    font-family: var(--primary-font-family);
    align-content: center;
    background: linear-gradient(var(--secondary-color) 10%, var(--tertiary-color));
    margin-top: -90px;
    z-index: -10;
}

#screenwide-text {
    margin-top: 76px ;
    padding-bottom: 20px;
    flex: 0 0 100%; 
    justify-content: center;
    display: flex;
    font-size: 17px;
}

.logos-container {
    display: flex;
    flex-wrap: wrap;
     width: 100%;
     margin-bottom: 200px;
     padding: 0 34px;
     justify-content: space-evenly;
     align-items: center;
     opacity: 60%;
}

.logo1{
    height: 22px;
}

.logo3, .logo2 {
    height: 50px;
}

.logo4 {
    height: 37px;
 }

.logo5{
    height: 58px;
  }

  /* Benefits section */
#benefits {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;  
    box-sizing: border-box;
    flex-direction: row; 
    margin-top: -96px;
    justify-content: space-around;  
}
  
#left_container, #right_container{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

#left_container {
   margin-left: 82px;
   align-items: flex-start;
}

#left-container-bio{
    flex: 0 0 100%; 
    width: 100%;  
    box-sizing: border-box;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1px;
    padding-left: 5px;
}

.benefits_container {
    margin-top: 36px;
    line-height: 1;
}

.text_container {
    margin-left: 40px;
}
 
.text_container h3{
    font-weight: 400;
}

.text_container p{
    font-weight: 400;
    font-family: var(--primary-font-family);
    font-size: 13px;
    line-height: 1.9;
}

/* Right side of benefit section */
 #right_container{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    flex: 0 0 40%; 
    box-sizing: border-box;
}

.slider-container {
    display: flex;
    margin: 0 auto;
    position: relative;
}
  
.main-slider {
    width: 70%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
}

.main-slider img {
    display: flex;
    box-sizing: border-box;
    width: 400px;
    margin-left: -20px;
}
  
.main-slider, .slick_slider_pic, .pic-container{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.slick_slider_pic {
     width: 50%;
}

.custom-navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
  
.thumbnail-slider {
    flex-grow: 1;
    margin-top: -10%; 
    display: flex;
    box-sizing: border-box;
    justify-content: center; 
}

.slick-track {
    box-sizing: border-box;
display: flex;
justify-content: center
}
  
.thumbnail-slider .slick-slide {
    display: flex;
    transition: opacity 0.3s ease;
}
  
.slick-current {
    border: 2px solid white;
}
  
.thumbnail-slider img {
    width: 100%;
   display: flex;
}

.space{
    margin: 3px;    
    display: flex;
    justify-content: center;
    width: 60%;
}
  
  .slider-description {
    display: flex;
    font-size: 13px;
    color: var(--quantary-color);
    font-family: var(--secondary-font-family);
    justify-content: center;
    width: 100%;
    margin-top: 34px;
}

  .prev-arrow, .next-arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.next-arrow {
    margin-left: -6%;
}

/* About section */
#about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--grey);
    margin-top: 60px;
    box-sizing: border-box;
    padding-bottom: 36px;
}
  
#left-container-about,
#right-container-about {
    flex: 1;
    min-width: 300px;  
    box-sizing: border-box;
}
  
#left-container-about {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-content: center;
}
  
.main-image-about,
.leftside-image-about,
.rightside-image-about {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
   
.main-image-about {
    width: 50%;
    height: 75%;
    margin-top: 10%;
}
  
.leftside-image-about {
    width: 23%;
    height: 24%;
    transform: translate(50%, 14%);   
    border: 3px solid var(--grey);
}
  
.rightside-image-about {
    width: 18%;
    height: 23%;
    transform: translate(-45%, 290%);   
    border: 3px solid var(--grey);
}
  
.main-image-about img,
.leftside-image-about img,
.rightside-image-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
#right-container-about {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 7.5%;
    font-size: var(--h4-font-size);
}

#right-container-h2 {
    font-size: 28px;
}

.about-text{
    margin-top: 8px;
    margin-left: 5px;
}

.about-text p{
    padding-top: 18px;
    line-height: 1.8;
    padding-right: 15%;
}

.new-button {
    width: 48%;
    margin-top: 24px;
    margin-bottom: 50px;
}

/* Projuct description sector */
#product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
  
.product-header {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
    font-size: var(--h2-font-size);
    margin-top: 76px;  
    display: flex;
    justify-content: center;
}
  
.product-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 78%;
    list-style-type: none;
    height: 100%
}
  
.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31%;
    padding: 80px 20px;
    box-sizing: border-box;
    border-radius: 3%; 
}
  
.item-container .item {
    width: 100%;
    text-align: center;
}

#item1{
    margin-bottom: 28px;
    margin-top: 5px; 
}

#item2{
    margin-bottom: 20px; 
    margin-top: 5px; 
}

#item3{
    margin-bottom: 14px; 
}

.item{
    margin-bottom: 14px;
    line-height: 24px;
} 

p.item {
    font-size: var(--h4-font-size);
}

.item-container img.item {
    width: auto;
    height: 35%;
    object-fit: contain;
}

.grey-item {
    background-color: var(--grey);
}
.brown-item {
    background-color: var(--secondary-color);
} 
  
#third-button{
    margin-top: 40px;

}

#third-button, #user-third-button{
    display: flex;
    justify-content: center;
    width: 100%;
}

#product-stars, #user-product-stars {
justify-content: flex-end;
display: flex;
align-content: center;
width: 20%;
height: fit-content;
margin-right: 16px;

}
.button-icon, .user-button-icon{
width: 15px;
justify-content: center;
}

#seventeen, #user-seventeen{
    display: flex;
    justify-content: flex-start;
    height: fit-content;

    width: 30%;
    font-size: 12px;
}
#product-icon, #user-product-icon{
    padding: 0;
    width: 20px;
}

#product-review, #user-product-review{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

/* Main container */
#user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 96px;

  }
  
.content-header,
.content-text {
    width: 100%;
    display: flex;
  }
  
.content-header {
    justify-content: center;
    font-size: 28px;
    letter-spacing: 2px; 
    margin-bottom: 20px;
}

.content-text {
    width: 38%;
    font-size: 13px;
    text-align: center;
    line-height: 2;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
  
.picture-container {
    width: calc(100% / 11.5); 
    box-sizing: border-box;
}
  
.picture-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.reviews-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 64px 0;
    padding: 0 32px;  
}

.review-container {
    width: 23%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
}
  
.review-logo {
    width: 14%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin-right: 10px;
   height: fit-content;
}
  
.review-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    justify-content: center;
}

.review-user-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.review-user {
    display: flex;
    justify-content: flex-start;
    font-family: var(--primary-font-family);
    font-size: 12px;
}

.user-rating{
    width: 30%;
    justify-content: flex-start;
}

.review-stars,
.review-user {
    width: 100%;
}
.review-texts{
   font-family: var(--secondary-font-family);
   font-size: 12px;
   color: var(--quantary-color);
   line-height: 24px;
   margin-top: 16px;
}
  
.review-texts, .top-part {
 
    display: flex;
    flex-direction: row;
     justify-content: flex-start;
     align-content: center;
     height: fit-content;
} 

#nomargin {
    margin: 0;
}

.review-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* FAQ section */

#faq {
    display: flex;
    width: 100%;
    margin-bottom: 10%;
    justify-content: flex-end;
}

.faq-left {
width: 41%;
}

.faq-left h2 {
    width: 100%;
    margin-bottom: 48px;
}

.accordion {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.accordion-header {
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-color);
    cursor: pointer;
    width: 100%;
    height: fit-content;
    padding: 18px 0 ;
    border: none;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    outline: none;
    font-size: 18px;
    line-height: 18px;
    transition: 0.4s;
    background-color: var(--tertiary-color);
    letter-spacing: 1px;
    border-top: .5px solid #EAEAEA; 
    border-bottom: .5px solid #EAEAEA; 
}
  
.accordion-header:after {
    content: '\002B';
    float: right;
    font-family: var(--primary-font-family);
    font-weight: 300;
    color: var(--primary-color);
    font-size: 35px;
    line-height: 35px;
    font-weight: 200;

}
  
  .active:after {
    content: "\2212";
}
  
  .accordion-content {
    max-height: 0;
    margin-top: -24px;
    margin-bottom: 16px;
    font-size: 14px;
    font-family: var(--primary-font-family);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

  .accordion-content p {
    line-height: 24px;
    padding-right: 36px;
}

  .image-group-faq {
    display: flex;
    width: 45%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 4%;
}

.left-image-faq,
.right-image-faq{  
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.left-image-faq img,
.right-image-faq img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-image-faq{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 38%;
    z-index: 2;
}

.left-image-faq {
    width: 39%;
    transform: translate(-4%, 43%);
    z-index: -1;    
}

.main-image-faq{
    transform: translate(0, 38%);
}

.right-image-faq{
    transform: translate(-48%, 3%);
    width: 27%;
    z-index: -1;    
}
.gradient-faq{
    background: linear-gradient(var(--tertiary-color) 10%, var(--secondary-color));
    width: 149px;
    height: 187px;
    z-index: -10;
}

.topleft-gradient-faq{
    transform: translate(68%, 36%);
}

.bottomright-gradient-faq{
    transform: translate(0, -40%);
}

/* Info banner */

#info-banner {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--grey);
    padding: 42px;
    margin-bottom: 82px;
}

#info-banner h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: var(--primary-font-family);
    font-size: 22px;
    letter-spacing: 1px;
}

.info-points-container{
    display: flex;
    width: 100%;
    margin-top: 24px;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
}

.point-container{
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.point-img-container{
    background-color: #E4E4E4;
    border-radius: 50%;
    width: auto;
    margin-bottom: 8px;
}

.point-container img {
    display: flex;
    object-fit: cover;
    align-items: center;
}

.point-container h4{
    font-weight: bold;
    font-size: 20px;
    font-family: var(--primary-font-family);
}

.point-container p{
    font-size: 12px;
    font-family: var(--primary-font-family);
    color: var(--quantary-color);
    letter-spacing: 1px;
    line-height: 14px;
}

.point1 {
    padding: 12px 9px;
}

.point2 {
    padding: 7px 13px;
}

.point3 {
    padding: 8px 15px;
}

/*  Final CTA section */

#cta {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#cta h2, .cta_p{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
}

.cta_p{
    font-size: 13px;
    margin: 0 30% 36px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 26px;
}
.cta-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
#cta-img-container {
    display: flex;
    justify-content: center;
    width: 36%;
    justify-content: center;
    padding: 0;
}

.info-points-container {
    display: flex;
    width: 100%;
}

#cta-left-gradient{
    transform: translate(53%, 0);   
}

#cta-right-gradient{
    transform: translate(-53%, 0);   
}

#cta-leftside-image-hero {
    transform: translate(-1%, 0);  
}

#cta-rightside-image-hero{
    transform: translate(-8%, 0);  
}

#center-image-hero-container{
    border: 5px solid white; 
}

.cta-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 32px ;
}
.cta-button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cta_btn_bio{
    display: flex; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.time_icon{
    display: flex;
    object-fit: cover;
    padding-left:8px;

}

#bio-txt {
    display: flex;
width: auto;
margin: 5px;
font-size: 10px;
font-family: var(--primary-font-family);
color: #1FAD40;
line-height: 18px;
border-right: 1px solid #C4C4C4;
padding-right: 8px;

}

.payment_icons {
    display: flex;
    width: 15%;
    object-fit: cover;
}
 
.overview {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 16px 0 96px;

}

.overview div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 12%;
    margin: 0 12px;
    align-items: center;
}

.ft-icn-container {
    padding: 0;
}

.footer_icon {
    border-radius: 50%;
    padding-right:  12px;
    background-color: var(--grey);
}

.footer_line {
    border-right: .5px solid #C4C4C4;
}

.bg_gradient {
    display: flex;
    width: 100%;
    background: linear-gradient(var(--tertiary-color), var(--secondary-color)80%);
    height: 350px;
    margin-top: -350px;
    z-index: -12;
}

.fourteen {
    font-size: 12px;
    line-height: 24px;
}